{% extends "layout.html" %}

{% block content %}

	<h2>Rendered successfully</h2>
	<p>{{ message }}</p>

	<hr>
	{{users}}

	<hr>
	<div>
		<ul>
			{% for user in users %}
				<li>
					<b>Name:</b> {{ user.UName }}
					<ol>
						{% if user.Skills %}
							<b>Skills:</b>
							{% for skill in user.Skills %}
								<li>
									{{ skill.SkillName }}
								</li>
							{% endfor %}
						{% else %}
							<p>No skills specified...</p>
						{% endif %}
					</ol>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}