<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Products</title>
</head>
<body>
	<ul>
		{% if not resources %}
			<h1>404 - nothing found</h1>
		{% endif %}
		{% for resource in resources %}
			<li>
				<div>
					<b>Name:</b>{{ resource.ResName }}<br>
					<b>Description:</b>{{ resource.ResDesc }}<br>
					<b>Reg NO:</b>{{ resource.ResRegNo }}<br>
				</div>
			</li>
		{% endfor %}
	</ul>
</body>
</html>