{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}

	<table class="table-bordered th">
		<thead>
			<th>id</th>
			<th>Name</th>
			<th>Age</th>
			<th>Action</th>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>
					{{ user.id }}
				</td>
				<td>
					{{ user.username }}
				</td>
				<td>
					{{ user.age }}
				</td>

				<td>
					<!-- <a href="/ulanyjylar/{{ user.id }}/delete"> -->
					<a href="{{ url_for('users_bp.delete_user', id=user.id) }}">
						Delete
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>

	</table>

	<div>
		<p>add new user</p>
		<form action="" method="POST">
			{{ form.csrf_token }}
			{{ form.username(placeholder='username') }}
			{{ form.age(placeholder='age') }}
			<button type="submit">Add</button>
		</form>
	</div>
	
{% endblock %}